@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body,
html {
  height: 100%;
  width: 100%;
}

.Logo {
  background: #2c272e;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Logo .title {
  color: #f58840;
  font-size: 60px;
  font-weight: 300;
}

.user-response {
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5fr;
      grid-template-columns: 1fr 2.5fr;
  gap: 20px;
  font-size: 14px;
}

.user-response .res-table {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid #ffccaf;
  border-radius: 10px;
}

.user-response .res-table .title {
  background: #ffe9dc;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.user-response .res-table .program-container {
  padding: 10px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
}

.user-response .res-table .program-container .prgrm-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: context-menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffccaf;
  padding: 5px;
  border-radius: 5px;
  width: 90px;
}

.user-response .res-table .program-container .prgrm-title .ttl {
  padding-right: 10px;
}

.user-response .res-table .device-container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.user-response .res-table .device-container .device-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.user-response .res-table .device-container .prgrm-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: context-menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #ffccaf;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
}

.user-response .res-table .device-container .prgrm-title .ttl {
  padding-right: 10px;
}

.user-response .res-table .devicec-container {
  padding: 0 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.user-response .res-table .devicec-container .device-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.user-response .res-table .devicec-container .prgrm-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: context-menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #ffccaf;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
}

.user-response .res-table .devicec-container .prgrm-title .ttl {
  padding-right: 10px;
}

.user-response .res-table .deviced-container {
  padding: 0 22px 10px 10px;
  font-size: 14px;
}

.user-response .res-table .deviced-container .device-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 10px;
}

.user-response .res-table .deviced-container .prgrm-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: context-menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #ffccaf;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-response .res-table .deviced-container .prgrm-title .ttl {
  padding-right: 10px;
}

.user-response .res-list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid #ffccaf;
  border-radius: 10px;
}

.user-response .res-list .title {
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  background: #ffe9dc;
}

.user-response .res-list .user-res-data-list {
  padding: 10px 0 0 0;
}

.user-response .res-list .user-res-data-list .user-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 10px;
}

.user-response .res-list .user-res-data-list .user-content .user-data {
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid #ffccaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: context-menu;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.user-response .res-list .user-res-data-list .user-content .user-data .res-title {
  font-size: 14px;
  margin-right: 5px;
  border-radius: 5px;
}

.user-response .res-list .user-res-data-list .user-content .user-data .data {
  font-size: 14px;
}

.user-response .res-list .user-res-data-list .user-content .user-data .email {
  margin: auto;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-response .res-list .user-res-data-list .user-content .user-data .connection {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-response .res-list .user-res-data-list .user-content .user-data .device {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95px;
}

.user-response .res-list .user-res-data-list .user-content .user-data .program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
}

.user-response .res-list .user-res-data-list .user-content .user-data .year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
}

.gridStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gridStyle .resultContent {
  margin: 20px 0 0 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid #ffccaf;
  width: 30%;
}

.gridStyle .resultContent .overall {
  margin: 20px;
}

.gridStyle .resultContent .overall .allResult {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.gridStyle .resultContent .overall .allResult .oGood {
  border: 1px solid #ffccaf;
  background: #f0f1f2;
  padding: 5px;
}

.gridStyle .resultContent .overall .allResult .oHigh {
  border: 1px solid #ffccaf;
  background: #f0f1f2;
  padding: 5px;
}

.gridStyle .resultContent .title {
  background: #ffe9dc;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridStyle .resultContent .title .icon {
  height: 21px;
  padding-right: 15px;
}

.gridStyle .visual-container {
  margin: 20px;
  border: 1px solid #ffccaf;
  width: 70%;
}

.gridStyle .visual-container .title {
  background: #ffe9dc;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridStyle .visual-container .title .tLogs {
  margin-left: 15px;
}

.gridStyle .visual-container .prcss-lgs {
  padding: 25px;
}

.gridStyle .visual-container .prcss-lgs .seperator {
  margin-top: 20px;
}

.gridStyle .visual-container .prcss-lgs .disable-select {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridStyle .visual-container .prcss-lgs .disable-select .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.gridStyle .visual-container .prcss-lgs .disable-select .animate {
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
  -webkit-transition: -webkit-transform 200ms ease 0s;
  transition: -webkit-transform 200ms ease 0s;
  transition: transform 200ms ease 0s;
  transition: transform 200ms ease 0s, -webkit-transform 200ms ease 0s;
}

.gridStyle .visual-container .prcss-lgs .disable-select .animateClose {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
  -webkit-transition: -webkit-transform 200ms ease 0s;
  transition: -webkit-transform 200ms ease 0s;
  transition: transform 200ms ease 0s;
  transition: transform 200ms ease 0s, -webkit-transform 200ms ease 0s;
}

.gridStyle .visual-container .prcss-lgs .target {
  padding: 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  background: #ffe9dc;
  border-radius: 5px;
}

.gridStyle .visual-container .prcss-lgs .newtarget {
  margin-top: 20px;
}

.gridStyle .visual-container .prcss-lgs .iqresponses {
  background: #0d1117;
  cursor: context-menu;
  padding: 20px 30px;
}

.gridStyle .visual-container .prcss-lgs .iqresponses .rmean {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
}

.gridStyle .visual-container .prcss-lgs .iqresponses .rmean .rcount {
  color: #8b949e;
  font-size: 12px;
  min-width: 4ch;
  text-align: right;
  margin-right: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Ubuntu", sans-serif;
}

.gridStyle .visual-container .prcss-lgs .iqresponses .rmean .rdate {
  font-size: 12px;
  color: #8b949e;
  margin-right: 12px;
}

.gridStyle .visual-container .prcss-lgs .iqresponses .rmean .rmeanr {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #c9d1d9;
  font-size: 12px;
}

.done {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.done .title {
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.done .desk {
  margin-top: 50px;
  font-size: 16px;
  text-align: center;
}

.loading {
  background: #2c272e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.loadings {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.login-container {
  background: #f58840;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-wrapper {
  background: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #f5f5f5;
  padding: 40px;
  border-radius: 10px;
}

.login-container .login-wrapper .success {
  color: white;
  background: #9adc6d;
  padding: 5px;
  font-size: 12px;
  width: 100%;
  font-weight: 300;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login-container .login-wrapper .error {
  color: white;
  background: #fa7365;
  padding: 5px;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login-container .login-wrapper .signup-link {
  border-top: 1px solid #ececec;
  position: absolute;
  height: 65px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 14px;
  background: #f7f7f7;
  border-end-start-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}

.login-container .login-wrapper .signup-link div {
  color: #ff8243;
  text-decoration: underline;
}

.login-container .login-wrapper .signup-link div:hover {
  color: #f58840;
}

.login-container .login-wrapper .forgot-password {
  text-align: right;
  color: #767a7e;
  width: 300px;
  font-size: 0.8rem;
  margin-bottom: 15px;
  cursor: pointer;
}

.login-container .login-wrapper .forgot-password:hover {
  color: #fa7365;
  font-weight: bold;
}

.login-container .login-wrapper .lp-title {
  color: #f58840;
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: 300;
}

.login-container .login-wrapper .session-expired {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fa7365;
  border: 1px solid #fa7365;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.login-container .login-wrapper .inputs {
  width: 348px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.login-container .login-wrapper .inputs svg {
  position: absolute;
  left: 0;
  top: 8px;
  margin: 5px 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #a8a8a8;
}

.login-container .login-wrapper .inputs .seperator {
  position: absolute;
  background: #a8a8a8;
  height: 25px;
  width: 1px;
  top: 10px;
  left: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login-container .login-wrapper .inputs input {
  width: 100%;
  height: 44px;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 50px;
}

.login-container .login-wrapper .inputs input:focus {
  border: 1px solid #ff8243;
  -webkit-box-shadow: 0 0 3px #f58840;
          box-shadow: 0 0 3px #f58840;
}

.login-container .login-wrapper .inputs input:focus + svg {
  fill: #ff8243;
}

.login-container .login-wrapper .inputs input:focus + svg + .seperator {
  background: #ff8243;
}

.login-container .login-wrapper button {
  margin-bottom: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f58840), to(#ff8243));
  background-image: linear-gradient(to right, #f58840, #ff8243);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  border: none;
  color: white;
  padding: 10px 18px;
  width: 100%;
}

.login-container .login-wrapper button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#f38f4c), to(#ff8d53));
  background-image: linear-gradient(to right, #f38f4c, #ff8d53);
}

.headNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  border-bottom: 1px solid #ffccaf;
  position: relative;
}

.headNav .headLogo {
  font-size: 2rem;
  color: #ff8243;
  cursor: pointer;
  margin-left: 10px;
}

.headNav .Menu-Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
}

.headNav .Menu-Links .userbadge-container {
  margin-right: 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headNav .Menu-Links .userbadge-container .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 10px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headNav .Menu-Links .userbadge-container .user-details .user-icon {
  margin-right: 5px;
  height: 19px;
}

.headNav .Menu-Links .userbadge-container .user-details:hover {
  color: #ff8243;
}

.headNav .Menu-Links .userbadge-options {
  position: absolute;
  right: 0;
  top: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
}

.headNav .Menu-Links .userbadge-options .userbadge-name {
  border: 1px solid #ffccaf;
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin: 45px 14px 20px 20px;
}

.headNav .Menu-Links .userbadge-options .userbadge-name .userbadge-email {
  font-size: 13px;
  cursor: context-menu;
}

.headNav .Menu-Links .userbadge-options .userbadge-name .userbadge-email .content {
  font-size: 12px;
  color: #808080;
}

.headNav .Menu-Links .userbadge-options .userbadge-name .ubb {
  font-size: 13px;
  padding: 10px 5px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #f58840;
  border-radius: 5px;
  font-weight: 500;
}

.headNav .Menu-Links .userbadge-options .userbadge-name .ubb:hover {
  color: #ff8243;
}

.headNav .Menu-Links .Links {
  color: black;
  margin-right: 10px;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 20px;
}

.headNav .Menu-Links .Links:hover {
  color: #ff8243;
}

.headNav .Menu-Links .new-Links {
  color: black;
}

.headNav .Menu-Links .new-Links:hover {
  color: #ff8243;
}

.headNav .Menu-Links .seperator {
  margin: 0 10px;
  font-size: 12px;
}

.headNav .Menu-Links .n-Links {
  background: #ff8243;
  color: white;
  font-size: 14px;
  margin-right: 20px;
  padding: 6px 12px;
  border-radius: 5px;
}

.headNav .Menu-Links .n-Links:hover {
  background: #d06224;
}

.homepage {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  cursor: context-menu;
}

.homepage .misvis {
  width: 50vw;
}

.homepage .misvis .mission {
  margin: 10px;
  padding: 10px;
  color: black;
  border: 1px solid #ffccaf;
  border-radius: 3px;
}

.homepage .misvis .mission .title {
  font-size: 1.5rem;
  color: #ff8243;
}

.homepage .misvis .mission .content {
  text-align: justify;
}

.homepage .misvis .vision {
  margin: 10px;
  padding: 10px;
  color: black;
  border: 1px solid #ffccaf;
  border-radius: 3px;
}

.homepage .misvis .vision .title {
  font-size: 1.5rem;
  color: #ff8243;
}

.homepage .misvis .vision .content {
  text-align: justify;
}

.homepage .objective {
  margin: 10px 10px 10px 5px;
  padding: 10px;
  color: black;
  border: 1px solid #ffccaf;
  border-radius: 3px;
  width: 50vw;
}

.homepage .objective .title {
  font-size: 1.5rem;
  color: #ff8243;
}

.homepage .objective .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage .objective .content span {
  text-align: justify;
  padding-top: 10px;
}

.survey-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px 0 10px;
}

.survey-container .survey-wrapper {
  max-width: 700px;
  min-width: 1px;
}

.survey-container .survey-wrapper .headingSecond {
  background: white;
  margin-bottom: 10px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

.survey-container .survey-wrapper .headingSecond .colorheader {
  background: #fa9050;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.survey-container .survey-wrapper .headingSecond .content-wrapper {
  padding: 10px 20px 20px 20px;
}

.survey-container .survey-wrapper .headingSecond .content-wrapper .content {
  font-size: 14px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.2px;
}

.survey-container .survey-wrapper .headingSecond .content-wrapper .content .c-one {
  margin-bottom: 10px;
}

.survey-container .survey-wrapper .heading {
  background: white;
  margin-bottom: 10px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

.survey-container .survey-wrapper .heading .colorheader {
  background: #fa9050;
  height: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.survey-container .survey-wrapper .heading .content-wrapper {
  padding: 10px 20px 20px 20px;
}

.survey-container .survey-wrapper .heading .content-wrapper .title {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.survey-container .survey-wrapper .heading .content-wrapper .content {
  font-size: 14px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.2px;
}

.survey-container .survey-wrapper .heading .content-wrapper .content .c-one {
  margin-bottom: 10px;
}

.survey-container .survey-wrapper .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  margin-bottom: 10px;
  background: white;
  max-width: 700px;
}

@media screen and (min-width: 700px) {
  .survey-container .survey-wrapper .forms {
    width: 700px;
  }
}

@media screen and (max-width: 360px) {
  .survey-container .survey-wrapper .forms {
    width: 340px;
  }
}

.survey-container .survey-wrapper .forms .form-content {
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .survey-container .survey-wrapper .forms .form-content {
    min-width: 340px;
  }
}

.survey-container .survey-wrapper .forms .form-content .question {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.survey-container .survey-wrapper .forms .form-content .question .required {
  color: #fa3636;
}

.survey-container .survey-wrapper .forms .form-content .content #rdb {
  margin-right: 10px;
  font-size: 20px;
}

.survey-container .survey-wrapper .forms .form-content .content span {
  font-size: 14px;
  font-weight: 300;
}

.survey-container .survey-wrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  margin-bottom: 10px;
  background: white;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-bottom: 20px;
}

.survey-container .survey-wrapper .form .title {
  font-size: 16px;
  font-weight: 400;
  padding: 20px 20px 0 20px;
}

@media screen and (min-width: 700px) {
  .survey-container .survey-wrapper .form {
    width: 700px;
  }
}

@media screen and (max-width: 360px) {
  .survey-container .survey-wrapper .form {
    width: 340px;
  }
}

.survey-container .survey-wrapper .form .form-content {
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .survey-container .survey-wrapper .form .form-content {
    min-width: 340px;
  }
}

.survey-container .survey-wrapper .form .form-content .question {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.survey-container .survey-wrapper .form .form-content .question .required {
  color: #fa3636;
}

.survey-container .survey-wrapper .form .form-content .content #rdb {
  margin-right: 10px;
  font-size: 20px;
}

.survey-container .survey-wrapper .form .form-content .content span {
  font-size: 14px;
  font-weight: 300;
}

.survey-container .survey-wrapper .btnControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.survey-container .survey-wrapper .btnControl .actionstyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.survey-container .survey-wrapper .btnControl .actionstyle .spacer {
  margin: 5px;
}
/*# sourceMappingURL=App.css.map */