@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

iframe {
  display: none;
}

body,
html {
  height: 100%;
  width: 100%;
}

.done {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  .desk {
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
  }
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    .signup-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.8rem;
      margin-top: 15px;
      color: #767a7e;
      div {
        color: #767a7e;
        text-decoration: underline;
        &:hover {
          color: #52abfa;
          font-weight: bold;
        }
      }
    }
    .forgot-password {
      text-align: right;
      color: #767a7e;
      width: 300px;
      font-size: 0.8rem;
      margin-bottom: 15px;
      cursor: pointer;
      &:hover {
        color: #fa7365;
        font-weight: bold;
      }
    }
    .lp-title {
      color: black;
      font-size: 1.8rem;
      margin-bottom: 15px;
    }
    .inputs {
      width: 300px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid #f5f5f5;
      display: flex;
      svg {
        margin-left: 10px;
      }
      input {
        width: 100%;
        height: 35px;
        padding-left: 10px;
        border: none;
        outline: none;
        background: none;
      }
    }
    button {
      background: none;
      border: 1px solid #f5f5f5;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 20px;
      font-size: 0.9rem;
      &:hover {
        background: #fafafa;
        color: #9adc6d;
        font-weight: bold;
      }
    }
  }
}

.headNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #f5f5f5;
  .headLogo {
    font-size: 2rem;
    color: black;
    cursor: pointer;
    margin-left: 10px;
  }
  .Menu-Links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    .Links {
      color: black;
      margin-right: 10px;
      padding: 7px 10px;
      cursor: pointer;
      border-radius: 20px;
      &:hover {
        background: #fafafa;
      }
    }
  }
}

.homepage {
  font-size: 0.9rem;
  display: flex;
  padding: 10px;
  .misvis {
    width: 50vw;
    .mission {
      margin: 10px;
      padding: 10px;
      color: black;
      border: 1px solid #f5f5f5;
      border-radius: 3px;
      .title {
        font-size: 1rem;
      }
      .content {
        text-align: justify;
      }
    }
    .vision {
      margin: 10px;
      padding: 10px;
      color: black;
      border: 1px solid #f5f5f5;
      border-radius: 3px;
      .title {
        font-size: 1rem;
      }
      .content {
        text-align: justify;
      }
    }
  }
  .objective {
    margin: 10px 10px 10px 5px;
    padding: 10px;
    color: black;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    width: 50vw;
    .title {
      font-size: 1rem;
    }
    .content {
      display: flex;
      flex-direction: column;
      span {
        text-align: justify;
        padding-top: 10px;
      }
    }
  }
}

.survey-container {
  display: flex;
  justify-content: center;
  padding: 10px 10px 0 10px;
  .survey-wrapper {
    max-width: 700px;
    min-width: 1px;
    .headingSecond {
      background: white;
      .colorheader {
        background: #fa9050;
        height: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        // color: white;
        padding-left: 20px;
      }
      .content-wrapper {
        padding: 10px 20px 20px 20px;
        .content {
          font-size: 14px;
          font-weight: 300;
          display: flex;
          flex-direction: column;
          letter-spacing: 0.2px;
          .c-one {
            margin-bottom: 10px;
          }
        }
      }
      margin-bottom: 10px;
      border: 1px solid #f5f5f5;
      border-radius: 10px;
    }
    .heading {
      background: white;
      .colorheader {
        background: #fa9050;
        height: 8px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .content-wrapper {
        padding: 10px 20px 20px 20px;
        .title {
          font-size: 32px;
          font-weight: 300;
          letter-spacing: 0.2px;
        }
        .content {
          font-size: 14px;
          font-weight: 300;
          display: flex;
          flex-direction: column;
          letter-spacing: 0.2px;
          .c-one {
            margin-bottom: 10px;
          }
        }
      }
      margin-bottom: 10px;
      border: 1px solid #f5f5f5;
      border-radius: 10px;
    }

    .forms {
      display: flex;
      flex-direction: row;
      border: 1px solid #f5f5f5;
      border-radius: 10px;
      margin-bottom: 10px;
      background: white;
      max-width: 700px;
      @media screen and (min-width: 700px) {
        width: 700px;
      }
      @media screen and (max-width: 360px) {
        width: 340px;
      }
      .form-content {
        padding: 20px;
        @media screen and (max-width: 480px) {
          min-width: 340px;
        }
        .question {
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.2px;
          .required {
            color: #fa3636;
          }
        }
        .content {
          #rdb {
            margin-right: 10px;
            font-size: 20px;
          }
          span {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
    .form {
      display: flex;
      flex-direction: row;
      border: 1px solid #f5f5f5;
      border-radius: 10px;
      margin-bottom: 10px;
      background: white;
      flex-direction: column;
      padding-bottom: 20px;
      .title {
        font-size: 16px;
        font-weight: 400;
        padding: 20px 20px 0 20px;
      }
      @media screen and (min-width: 700px) {
        width: 700px;
      }
      @media screen and (max-width: 360px) {
        width: 340px;
      }
      .form-content {
        padding: 20px;
        @media screen and (max-width: 480px) {
          min-width: 340px;
        }
        .question {
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.2px;
          .required {
            color: #fa3636;
          }
        }
        .content {
          #rdb {
            margin-right: 10px;
            font-size: 20px;
          }
          span {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
    .btnControl {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: center;
      .actionstyle {
        display: flex;
        flex-direction: row;
        .spacer {
          margin: 5px;
        }
      }
    }
  }
}
